@use './variables'as *;
@use './_breakpoints'as *;


%btn {
    border: none;
    padding: 20px;
    border-radius: 4px;
    margin: 0 10px;

    @include media('<480px') {
        padding: 12px;
       
    }
}

%btn_txt {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    @include media('<480px') {
        font-size: 14px;
    }
}

.button {
    background-color: $tertiary-color;
    color: $quaternary-color;
    @extend %btn;

    &--secondary {
        background-color: $quaternary-color;
        @extend %btn;
    }

    &_link {
        color: $quaternary-color;
        @extend %btn_txt;

        &--secondary {
            color: $primary-color;
            @extend %btn_txt;
        }
    }


}