@use './variables.scss'as *;
@use './mixins.scss'as *;
@use './buttons';
@use './functions'as *;
@use './_breakpoints'as *;


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

* {
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    padding: 0;
}

body {
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: url("../images/cyberpunk_2.jpg") no-repeat top center / cover;

    @include media('<768px') {
        background: url("../images/cyberpunk.jpg") no-repeat top center / cover;

    }
}

.card {
    height: 100vh;
    text-align: center;

    .header {
        z-index: 2;
        height: convertPxToRem(120);
        display: grid;
        grid-template-columns: 1fr 5fr;
        align-items: center;
        justify-items: left;
        gap: convertPxToRem(200);
        background: #2b2b2b3d;
        backdrop-filter: blur(5px);

        .logo {
            height: convertPxToRem(100);
        }

        .perks {
            display: flex;
            justify-content: space-around;
            width: 100%;

            .perk {
                height: convertPxToRem(70);

            }
        }

        @include media('<768px') {
            height: convertPxToRem(80);
            gap: convertPxToRem(20);

            .logo {
                height: convertPxToRem(65);
            }

            .perks {
                width: 100%;

                .perk {
                    height: convertPxToRem(50);
                }
            }
        }

        // Media for header

        @include media('<=585px') {
            .perks {
                .perk {
                    height: convertPxToRem(40);
                }
            }
        }

        @include media('<=360px') {
            .perks {
                .perk {
                    height: convertPxToRem(30);
                }
            }
        }
    }

    .card_body {
        height: calc(100% - convertPxToRem(120));
        display: grid;
        grid-template-columns: 1fr 5fr;

        .content {
            z-index: 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            background-color: $primary-color;
            color: #251320;

            &_headline {
                font-size: convertPxToRem(40);
                writing-mode: vertical-rl;
                -webkit-transform: rotate(-180deg);

            }

            &_quote {
                height: 80%;
                font-size: convertPxToRem(20);
                writing-mode: vertical-rl;
                -webkit-transform: rotate(-180deg);
            }
        }

        .invitation {
            @include setFlex(column, flex-end);
            margin-bottom: convertPxToRem(50);

            h2 {
                color: $tertiary-color;
                margin: convertPxToRem(10);
            }
        }

        // Media for Card

        @include media('<=768px') {
            grid-template-columns: 1fr 3fr;

            .content {
                &_headline {
                    font-size: convertPxToRem(30);
                }

                &_quote {
                    font-size: convertPxToRem(18);
                }
            }

            .invitation {
                .buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }

                h2 {
                    font-size: convertPxToRem(20);
                }
            }

        }
    }

}